.pmf-row {
  display: flex;
}

.pmf-col-3 {
  width: 25%;
  padding: 0 15px;
}

.pmf-col-4 {
  width: 33.33%;
  padding: 0 15px;
}

.pmf-col-6 {
  width: 50%;
  padding: 0 15px;
}

.pmf-col-8 {
  width: 66.66%;
  padding: 0 15px;
}

.pmf-col-12 {
  width: 100%;
  padding: 0 15px;
}