
/* theme color */
$--color-primary: teal;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

$--font-size-base: 16px !default;
$--font-size-small: 14px !default;
$--font-size-large: 20px !default;
$--font-line-height-primary: 22px !default;

$--size-base: 16px !default;

$--alert-title-font-size: 14px !default;
$--alert-description-font-size: 13px !default;
$--alert-close-font-size: 14px !default;

@import "~element-ui/packages/theme-chalk/src/reset";
@import "~element-ui/packages/theme-chalk/src/index";

@import './pmf-variables';
@import './elements/common/typography';
@import './elements/common/sidebar';
@import './elements/common/topbar';
@import './elements/auth/login';
@import './elements/ui/alert';
@import './elements/ui/loading';
@import './elements/ui/grid';
@import './elements/ui/form';
@import './elements/ui/dashboard';